{{ attach_library('tribute/block-timeline') }}

<div class="time-story-event">
	<div class="time-story_img">
		{{ image }}
	</div>

	<div class="line-time">
		<span></span>
	</div>

	<div class="time-story_img_dsc">
		{{ date }}
		{{ body }}
	</div>
</div>

