{{ attach_library('tribute/block-lifestoryry') }}
<div class="block-lifestoryry">
	<div id="title" class="title">
		{{ title }}
	</div>
	<div class="block-lifestoryry__body">
		{{ body }}
	</div>
</div>
