{{ attach_library('tribute/hero-component') }}
<div class="hero" style="background-image: url('{{image.0}}')">
	<div class="container">
		<div class="hero-desc">
			<div class="hero-desc_body">
				{{ body }}
			</div>

			<div class="hero-btn">
				{{ link }}
			</div>
		</div>
	</div>
</div>
