// Import site utilities.
@import '../../global/utils/init';

.timeline-end {
  display: flex;
  justify-content: center;

  .timeline-end__body {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #7b6c63;
    box-shadow: 0 0 20px #7b6c63;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
